<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
  </head>
  <body>

        <div class="container" >
            <h1>Sua pontuação</h1> 
            <h1 id="pontuacao-fim"><%=p%></h1> 
        </div>
        
        <a href="/" id="add-question-fim">Voltar para Home</a>

  </body>
</html>
